@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #3776c5;
  --white: #ffffff;
}

html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  color: var(--white);
  background-color: var(--white);
  background-image: url(./assets/html.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px;
}

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 12px 8px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 24px 0;
  margin: 0 auto;
  backdrop-filter: blur(25px);
  background-color: #ffffff26;
  border-radius: 10px;
  box-shadow: 0 0 16px #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.logo__image {
  height: 100%;
  width: auto;
}

.menu-list {
  display: flex;
  gap: 8px 16px;
  list-style: none;
}

.menu-link {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  transition: .3s;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: #3776c5;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: .3s;
  }

  &:hover {
    color: var(--white);

    &::after {
      width: 100%;
    }
  }
}


.title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.title--inner {
  margin-bottom: 40px;
}

.main {
  // padding: 160px 0px 2px;
}

.work-flex {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  flex: 0 0 33.333%;
  padding: 8px;

  &:hover {
    .work-item__thumb {
      &::before {
        opacity: .7;
      }
    }

    .work-item__image {
      height: 110%;
    }

    .work-item__description {
      bottom: 0;
      background-color: transparent;
    }
  }
}

.work-item__container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 16px #ffffff8a;
  border: solid 8px #ffffff;

  &::before {
    content: "";
    display: block;
    padding-top: 70%;
  }
}

.work-item__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3776c5 0, #000000 100%);
    transition: .3s;
    opacity: 0;
  }
}

.work-item__image {
  height: 102%;
  width: auto;
  display: block;
  transition: .3s;
}

.work-item__description {
  width: 100%;
  height: 160px;
  position: absolute;
  left: 0;
  bottom: -70px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: .3s;
  background-color: #00000071;
}

.work-item__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}

.work-item__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  min-width: 90px;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  height: 40px;
  padding: 0 16px;
  border-radius: 5px;
  border: solid 2px var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: relative;
  bottom: 0px;

  &:hover {
    background-color: var(--main-color);
    bottom: 2px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.container--justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.footer__link {
  color: #000000;
  position: relative;
  transition: .3s;
  margin-left: 16px;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: .3s;
  }

  &:hover {
    color: var(--white);

    &::after {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .work-item__thumb {
    &::before {
      opacity: .7;
    }
  }

  .work-item__image {
    height: 110%;
  }

  .work-item__description {
    bottom: 0;
    background-color: transparent;
    padding: 16px;
  }
}


@media screen and (max-width: 768px) {
  .work-item {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 540px) {

  .menu-list {
    flex-direction: column;
  }

  .title {
    font-size: 46px;
  }

  .work-flex {
    justify-content: center;
  }

  .work-item {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 374px) {
  .work-item {
    flex: 0 0 300px;
  }
}